.formControl{
    margin: 20px;
    color: blue;
}

.hello .MuiGrid-container {
    width: 35%;
    padding: 0px;
    margin: 0px;
}

.hello .MuiFormControl-root {
    margin: 5px;
    padding: 10px;
    width: 43%;
}


.hello .MuiInputLabel-formControl{
    padding: 10px;
}

/* .hello .MuiButton-root {
    margin-top: 10px;
    margin-left: 60px;
    color: rgb(239, 242, 243);
    background-color: rgb(39, 98, 187);
}

.hello .MuiButton-root:hover {
    margin-left: 80%;
    color: rgb(239, 242, 243);
    background-color: rgb(39, 98, 187);
} */