.p1{
   width: 10%;
}

.p2{
    width: 100%;
}

.p3{
    width: 50%;
    
}

.p4{
    width: 75%;
}

.p5{
    width: 25%;
}


.p6{
    width: 10%;
}


.p7{
    width: 30%;
}

.p8{
    width: 20%;
}

.p9{
    width: 20%;
}

h4{
   color: cadetblue;
}

body{
    background-color: rgb(245, 245, 245);
}

.s1{
   width: 50%;
}

.s2{
    width: 30%;
}

.s3{
    width: 25%;
}

.s4{
    width: 40%;
}

.s5{
    width: 68%;
}

a{
  color :gray;
}

img{
   width:30px;
   height:30px ;
}






