.b1 {
    background-color: rgb(16, 12, 223);
    color: white;
    padding: 0.9%;
    margin: 1%;
    border: none;
    cursor: pointer;
    width: 15%;
    float: left;

  }
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: rgb(12, 9, 190);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #0c10dd;
  }
  .colorbox{
    width:10%;
    height:15px;
        border: 1px solid #22194D;

  }
