#Container{
  margin-top: 54px;
}
.ant-table-thead > tr > th .ant-table-header-column .ant-table-column-sorters::before{
  background: #01579B !important;
  box-shadow: 0px 1px 2px 0px rgba(34,36,38,.15) !important;
  border-bottom: #fff 2px solid !important;
  border-right: #fff 2px solid !important;
}
.ant-table-thead > tr:first-child > th{
  background:#01579B !important;
  box-shadow: 0px 1px 2px 0px rgba(34,36,38,.15) !important;
  color: #fff !important;
  border-bottom: #fff 2px solid !important;
  text-align: center !important;
  border-right: #fff 2px solid !important;
  padding: 10px !important;
}
.ant-table-thead > tr > th .ant-table-header-column .ant-table-column-sorters > *:not(.ant-table-column-sorter) {
  color:#fff !important;
}
.ant-table-tbody > tr > td{
  text-align: center !important;
}
/* body{
  overflow-y: scroll;
} */
/* body{
  background-image: url("./Assets/background.jpg");
  background-size: cover;
} */